{% extends "base2.html" %}
{% block title %}歡迎光臨我的部落格{% endblock title %}
{% block headmessage %} 
<h3 style='font-family:標楷體;'>本站文章列表</h3> 
<label for="byear">無意義年份:</label>
<select name="byear">
    {% for year in years %}
    <option value="{{year}}">西元 {{year}}</option>
    {% endfor %}
</select>
<input type='radio' name='ryear' checked>2000</input>
<input type='radio' name='ryear'>2001</input>
<input type='radio' name='ryear'>2002</input>
<input type='radio' name='ryear'>2003</input>
{% endblock headmessage %} 
{% block content %} 
{% for post in posts %}
<div class='card'>
    <div class='card-header'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href='/post/{{post.slug}}'>{{ post.title }}</a>
        </p>
    </div>
    <div class='card-body' style='background-color:#10DF10'>
        <p>
           {{ post.body | truncatechars:40 }}
        </p>
    </div>
    <div class='card-footer'  style='background-color:#efefef'>
        <p>
            發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}
        </p>
    </div>
</div>
<br> 
{% endfor %}
{% endblock content %}
