{% extends "base2.html" %}
{% block title %} 表單輸入 {% endblock title %}
{% block headmessage %} 
<a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage %} 

{% block content %}
{% if is_validated %}
<h2>登入成功</h2>
{% else %}
<h2>登入失敗</h2>
{% endif %}
<h2>HTML Forms</h2>
<form action="" method="post">
    {% csrf_token %}
  <label for="fname">帳號:</label><br>
  <input type="text" id="user_id" name="user_id" value="ntub"><br>
  <label for="lname">密碼:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="送出">
</form> 

{% endblock content %}